
<p *ngIf="!show"><em>Loading...</em></p>


<div *ngIf="show" style="padding-top: 80px">
  <h1 id="tableLabel">{{ show.name }}</h1>

  <h3 id="tableLabel">2099. cucuár</h3>

</div>


<table class='table table-striped table-sm' *ngIf="episodes">
  <thead>
    <tr>
      <th>
        <button type="button" class="btn btn-secondary btn-sm" style="margin-right: 5px">
          <b class="bi bi-caret-left-fill">
          </b>
          régebbi
        </button>
        <button type="button" class="btn btn-secondary btn-sm">
          újabb
          <b class="bi bi-caret-right-fill">

          </b>
        </button>
      </th>
      <th class="text-right"><i class="bi bi-folder-symlink"></i></th>
      <th class="text-right"><i class="bi bi-play"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let episode of episodes">
      <td>
        <b>
          {{ dateFormater.fromTimestamp(episode.plannedFrom, 'MD') }},
          <i>{{ dateFormater.fromTimestamp(episode.plannedFrom, 'DOW') }}</i>
        </b>
        {{ dateFormater.fromTimestamp(episode.plannedFrom, 'T') }} -
        {{ dateFormater.fromTimestamp(episode.plannedTo, 'T') }}
      </td>
      <td>
        <div class="text-right">
          <button type="button" class="btn btn-outline-secondary btn-sm" style="">
            <i class="bi bi-folder-symlink"></i> {{ (episode.text?.title) != null ? (episode.text?.title) : "Adás oldal" }}
          </button>

        </div>
      </td>
      <td class="text-right">
        <button (click)="onPlayButtonClicked(episode)" type="button" class="btn btn-outline-success btn-sm" style="">
          <i class="bi bi-play"></i> Play
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div style="margin-top: 30px">
  <p class="lead">{{ show.definition }}</p>
</div>

<div *ngIf="show" style="margin-bottom: 150px">
  <p innerHTML="{{ show.description }}"></p>
</div>
