
<audio id="player"></audio>

<nav class="fixed-bottom" >
  <div class="container border border-5 rounded-top rounded-lg border-secondary" style="background-color: #898989;
    padding-top: 8px;
    padding-bottom: 3px;
    margin-bottom: 6px;
    opacity: 0.96;">

    <div class="row">
      <div class="col">
        
        <h5>{{ getPlayerTitle() }} </h5>
      </div>
    </div>

    <div class="row">

      <!--
        A PROGRESS BAR SÁVJÁBAN VAN A GOMB
        <div class="col" style="margin-bottom:5px;">
        <div (click)="onProgressBarClicked($event)" style="background-color:lightgray">
          <button *ngIf="!isPlaying" (click)="onPlayClicked()" type="button" class="btn btn-success btn-sm" style="margin-right: 10px; width:70px;">
            <i class="bi bi-play-fill"></i>Play
          </button>
        </div>
      </div>
        -->


      <div class="col" style="margin-bottom:5px;">
        <div (click)="onProgressBarClicked($event)" style="background-color:lightgray">
          <div class="progress-bar" role="progressbar" [style.width.%]=progressPercent style="height: 10px;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col" style="margin-bottom: 3px">
        <button *ngIf="!isPlaying" (click)="onPlayClicked()" type="button" class="btn btn-success btn-sm" style="margin-right: 10px; width:70px;">
          <i class="bi bi-play-fill"></i>Play
        </button>
        <button *ngIf="isPlaying" (click)="onPauseClicked()" type="button" class="btn btn-secondary btn-sm" style="margin-right: 10px; width: 70px;">
          <i class="bi bi-pause-fill"></i>Pause
        </button>
        <!-- Google Cast launcher div -->
        <div hidden id="google-cast-launcher-container" class="btn btn-sm btn-outline btn-warning" style="width: 50px; height: 30px" ></div>
      </div>

    </div>
    

    <div class="row">
      <div class="col">
        <small>
          <b>adásban volt</b>: {{ originallyAired }}
        </small>
      </div>
    </div>
  </div>
</nav>


