

<div style="padding-bottom:100px"></div>

<div *ngIf="!episodes" class="text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div class="row">
  <div class="col">
    <h1>Műsorfolyam</h1><!--class="display-4"-->
  </div>
  <div class="col">
    <div class="float-right">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input readonly style="width:160px" class="form-control form-control-lg" placeholder="yyyy-mm-dd"
                   name="dp" [(ngModel)]="datePickerModel" (dateSelect)="onNavigate($event)" ngbDatepicker #d="ngbDatepicker"  />
            <div class="input-group-append">
              <button class="btn btn-lg btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                <i class="bi bi-calendar-event"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<div *ngIf="episodes">

  <div style="margin-bottom: 40px">
  </div>

  <div *ngFor="let episode of episodes" class="card" style="margin-bottom: 40px">
    <div class="card-header">
      <h5>
        {{ episode.text?.title != null ? episode.show?.name : "" }}
      </h5>
      <h3 class="card-title">{{ episode.text?.title != null ? episode.text?.title : episode.show?.name }}</h3>
      <p>
        <small>
          <b>
            {{ dateFormater.fromTimestamp(episode.plannedFrom, 'D') }},
            <span>{{ dateFormater.fromTimestamp(episode.plannedFrom, 'DOW') }}</span>
          </b>
          <br />

          {{ dateFormater.fromTimestamp(episode.plannedFrom, 'T') }}
          -
          {{ dateFormater.fromTimestamp(episode.plannedTo, 'T') }}
        </small>
      </p>
    </div>




    <div class="card-body">
      <p class="lead">{{ episode.show?.definition }}</p>
      <p class="qqq" style="overflow: hidden;" innerHTML="{{ episode.text?.formatted }}"></p>
      <div class="float-right">
        <button routerLink="/adas/{{episode.id}}" type="button" class="btn btn-outline-secondary btn-sm" style="margin-right: 5px">
          <i class="bi bi-folder-symlink"></i> Adás
        </button>
        <button routerLink="/musorok/{{episode.show.alias}}" type="button" class="btn btn-outline-secondary btn-sm" style="margin-right: 15px">
          <i class="bi bi-folder-symlink"></i> Műsor
        </button>
        <button (click)="onPlayButtonClicked(episode)" type="button" class="btn btn-outline-success btn-sm" style="">
          <i class="bi bi-play"></i> Play
        </button>
      </div>

    </div>

  </div>



</div>

